nodered/TelegramIntegration_Flow.json
[{"id":"479c3fd6.8ab3a","type":"tab","label":"TelegramIntegration_Flow"},{"id":"59fcdc85.d3a084","type":"telegram command","z":"479c3fd6.8ab3a","name":"/t command","command":"/t","bot":"7b570354.fbd7b4","x":117.50000762939453,"y":216.00000667572021,"wires":[["64146b33.c20384"],[]]},{"id":"c70f3c4a.61c0e","type":"telegram sender","z":"479c3fd6.8ab3a","name":"","bot":"7b570354.fbd7b4","x":1237.0000610351562,"y":190.00001525878906,"wires":[[]]},{"id":"64146b33.c20384","type":"function","z":"479c3fd6.8ab3a","name":"Prepare for Conversation","func":"msg.chatId = msg.payload.chatId;\nmsg.payload = { 'parameter' : msg.payload.content};\n msg.headers = {'content-type':'application/json'};\nreturn msg;","outputs":1,"noerr":0,"x":370.5000457763672,"y":209.00001907348633,"wires":[["15032a11.9dd5d6"]]},{"id":"7527b748.f53868","type":"function","z":"479c3fd6.8ab3a","name":"Prepare for Telegram","func":"var tmp = msg.payload.substr(75,100);\nvar tmp2 = tmp.replace(/synchronous/g,\"\");\nvar value = tmp2.replace(/true/g,\"\");\nmsg.payload = {\n    chatId : msg.chatId,\n    type : \"message\",\n    content : value\n};\nreturn msg;","outputs":1,"noerr":0,"x":880.5000381469727,"y":206.00003242492676,"wires":[["c70f3c4a.61c0e"]]},{"id":"9c2c1542.be19d8","type":"telegram command","z":"479c3fd6.8ab3a","name":"/r command","command":"/r","bot":"7b570354.fbd7b4","x":122.00000762939453,"y":367.00002098083496,"wires":[["9059de78.1f9b8"],[]]},{"id":"9059de78.1f9b8","type":"function","z":"479c3fd6.8ab3a","name":"Prepare for Analysis","func":"msg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.content;\nreturn msg;","outputs":1,"noerr":0,"x":365.99999237060547,"y":417.00001525878906,"wires":[["5b4a04ff.ee410c"]]},{"id":"13d2fd3.73dba83","type":"inject","z":"479c3fd6.8ab3a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":315.99999237060547,"y":339.0000190734863,"wires":[["9059de78.1f9b8"]]},{"id":"270f17d5.63715","type":"telegram sender","z":"479c3fd6.8ab3a","name":"","bot":"7b570354.fbd7b4","x":1610.0000534057617,"y":398.00004386901855,"wires":[["67b08a5.5805174"]]},{"id":"fa388cf.60fe37","type":"function","z":"479c3fd6.8ab3a","name":"Prepare for Telegram","func":"msg.payload = {\n    chatId : msg.chatId,\n    type : \"message\",\n    content : msg.payload.substr(62, 100).replace(/\"],\"synchronous\":true}]}/g,\"\")\n};\nreturn msg;","outputs":1,"noerr":0,"x":1312.0000381469727,"y":352.0000238418579,"wires":[["270f17d5.63715"]]},{"id":"6b1b6bc2.516ce4","type":"function","z":"479c3fd6.8ab3a","name":"Send Photo","func":"msg.payload.content = msg.payload.content;\nmsg.payload.type = \"photo\";\nreturn msg;","outputs":1,"noerr":0,"x":1045.9999732971191,"y":1083.0001430511475,"wires":[["e2c6e3a2.b68338"]]},{"id":"e2c6e3a2.b68338","type":"telegram sender","z":"479c3fd6.8ab3a","name":"","bot":"7b570354.fbd7b4","x":1288.00004196167,"y":1176.0001411437988,"wires":[[]]},{"id":"7c556905.0f6438","type":"telegram command","z":"479c3fd6.8ab3a","name":"/tp command","command":"/tp","bot":"7b570354.fbd7b4","x":113.00000381469727,"y":552.0001277923584,"wires":[["67aaa821.454e98"],[]]},{"id":"67aaa821.454e98","type":"function","z":"479c3fd6.8ab3a","name":"Prepare for Telegram","func":"msg.chatId = msg.payload.chatId;\nreturn msg;","outputs":1,"noerr":0,"x":356.99999618530273,"y":646.0000734329224,"wires":[["7720b098.c93d"]]},{"id":"9308632b.3ceed","type":"function","z":"479c3fd6.8ab3a","name":"Read folder, output file paths","func":"// Sends a msg with full file path for each file in a given folder ending with given extension\n\nvar fs = context.global.fs\nvar path = context.global.path\n\nvar folder = \"/home/pi/Pictures/\";\n\n// readir is ASYNC so don't return msg here as\n// it would be pointless\nfs.readdir(folder, callback)\n\nfunction callback(err, files) {\n    if (err) {\n        node.error('Oops! Folder does not exist: ' + folder, err)\n        return\n    }\n\n    // Any error in here will crash Node-Red!! So catch them instead\n    try {\n     \n        files\n            .filter(getExtension) // calls the given callback func for each file, will only pass names where fn returns true\n            .forEach( sendName )\n\n    } catch (err) {\n        node.error('Ouch! Something went badly wrong processing the files list', err)\n        return\n    }\n}\n\nfunction getExtension(file) {\n    // get extension name Ex:.jpg, .png\n    var ext = path.extname(file);\n    \n    //get extension length.\n    var len = path.extname(file).length;\n    \n    return file.substr(0-len) === ext;\n}\n\nfunction sendName(file) {\n        msg.payload.content = path.join(folder, file)\n        node.send( msg )\n}","outputs":1,"noerr":0,"x":842.0000343322754,"y":952.0001373291016,"wires":[["6b1b6bc2.516ce4"]]},{"id":"7720b098.c93d","type":"function","z":"479c3fd6.8ab3a","name":"Check/Create Folder","func":"// Sends a msg with full file path for each file in a given folder ending with given extension\n\nvar fs = context.global.fs\nvar path = context.global.path\n\nvar folder = \"/home/pi/Pictures/\";\n\n//if directory doesn't exist, so it will create one.\nif (!fs.existsSync(folder)){\n    fs.mkdirSync(folder);\n}\n\nmsg.payload.folder = folder;\n\nreturn msg;","outputs":1,"noerr":0,"x":554.0000877380371,"y":753.0000743865967,"wires":[["5c54e43d.379a5c"]]},{"id":"5c54e43d.379a5c","type":"camerapi-takephoto","z":"479c3fd6.8ab3a","filemode":"2","filename":"","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"1","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","imageeffect":"none","name":"","x":764.6999893188477,"y":854.4002361297607,"wires":[["9308632b.3ceed"]]},{"id":"8e5135bc.7d1578","type":"telegram command","z":"479c3fd6.8ab3a","name":"/help command","command":"/help","bot":"7b570354.fbd7b4","x":129.49999237060547,"y":76.00000858306885,"wires":[["dc60a59c.ddefe8"],[]]},{"id":"dc60a59c.ddefe8","type":"function","z":"479c3fd6.8ab3a","name":"Help Menu","func":"var help = \"/help - shows help information\\r\\n\";\nhelp += \"/t hello - Start a conversation with Bob\\r\\n\";\nhelp += \"/tp - Bob will take a picture\\r\\n\";\nhelp += \"/r http://address/*.jp - Start an image recognition\\r\\n\";\n\nmsg.payload.content = help;\nreturn msg;\n","outputs":1,"noerr":0,"x":906.8999786376953,"y":72.20000839233398,"wires":[["c70f3c4a.61c0e"]]},{"id":"67b08a5.5805174","type":"function","z":"479c3fd6.8ab3a","name":"Remove Folder and Files","func":"var fs = context.global.fs;\n\ndeleteFolderRecursive('/tmp/tjbot')\n\nfunction deleteFolderRecursive(path) {\n  if( fs.existsSync(path) ) {\n    fs.readdirSync(path).forEach(function(file,index){\n      var curPath = path + \"/\" + file;\n      if(fs.lstatSync(curPath).isDirectory()) { // recurse\n        deleteFolderRecursive(curPath);\n      } else { // delete file\n        fs.unlinkSync(curPath);\n      }\n    });\n    fs.rmdirSync(path);\n  }\n};","outputs":1,"noerr":0,"x":1749.7999954223633,"y":553.2000217437744,"wires":[["f41d0205.b7379"]]},{"id":"f41d0205.b7379","type":"debug","z":"479c3fd6.8ab3a","name":"","active":true,"console":"false","complete":"false","x":1897.2999649047852,"y":111.20009422302246,"wires":[]},{"id":"15032a11.9dd5d6","type":"http request","z":"479c3fd6.8ab3a","name":"","method":"POST","ret":"txt","url":"http://pr3st00iot.mybluemix.net/tjbotdialog","tls":"","x":602.1666641235352,"y":270.3333492279053,"wires":[["7527b748.f53868"]]},{"id":"70cf3c10.0745e4","type":"function","z":"479c3fd6.8ab3a","name":"getPath","func":"return msg;","outputs":1,"noerr":0,"x":859.0000762939453,"y":293.0000410079956,"wires":[["58e13295.9b7744"]]},{"id":"5b4a04ff.ee410c","type":"exec","z":"479c3fd6.8ab3a","command":"sh /home/pi/git/tjbotdemo/scripts/telegram/getImage.sh","addpay":true,"append":"","useSpawn":"","timer":"10","name":"Get Image","x":603.0000801086426,"y":417.0000686645508,"wires":[["70cf3c10.0745e4"],["773e72ec.0a517c"],[]]},{"id":"9ac00ca2.1032a","type":"function","z":"479c3fd6.8ab3a","name":"Error Msg","func":"msg.payload = { \"code\": 500, \"code_description\": \"Call to service failed or timed out\"};\n\nreturn msg;","outputs":1,"noerr":0,"x":1336.0000381469727,"y":458.0000705718994,"wires":[["270f17d5.63715"]]},{"id":"773e72ec.0a517c","type":"switch","z":"479c3fd6.8ab3a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"str"}],"checkall":"true","outputs":1,"x":1147.0001335144043,"y":464.0000705718994,"wires":[["9ac00ca2.1032a"]]},{"id":"58e13295.9b7744","type":"exec","z":"479c3fd6.8ab3a","command":"sh /home/pi/git/tjbotdemo/scripts/ir/callir.sh","addpay":true,"append":"","useSpawn":"","timer":"10","name":"Call Service","x":1036.000129699707,"y":370.5000648498535,"wires":[["fa388cf.60fe37"],[],["773e72ec.0a517c"]]},{"id":"7b570354.fbd7b4","type":"telegram bot","z":"","botname":"BlueBobBot","usernames":"","chatids":""}]
